// num type 스핀제거
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

// 자동완성 색상제거
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
    -webkit-transition: background-color 9999s ease-out;
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
    -webkit-text-fill-color: inherit !important;
}

// custom-input
.v-input.custom-input.v-text-field {
    .v-input__control {
        .v-input__slot {
            border-bottom: 1px solid $border-grey;
            border-radius: 0;

            .v-text-field__slot {
                input {
                    border: 0 !important;
                    line-height: 1;
                }
            }
        }
    }
}

.custom-input.v-input.v-input--hide-details.theme--light.v-text-field.v-text-field--is-booted {
    .v-input__control {
        .v-input__slot {
            border: 1px solid #999;
            border-radius: 50px;
            

            &::before {
                border: 0 !important;
                display:none;
            }
            &::after{
                border: 0 !important;
                display:none;
            }

            .v-text-field__slot {
                padding-left: 16px;
                input {
                    font-size:14px;
                    line-height:1.5;
                    margin-bottom: .5px;
                }
            }
        }

        .v-input__append-inner {
            margin-right: 10px;
        }
    }

    &.v-input--is-focused {
        &.primary--text{

        }
        .v-input__control {
            .v-input__slot {
                
            }
        }
    }
}