.product-con {
  margin-right: -16px;
  margin-left: -16px;
  .inner-card {
    border-radius: 12px !important;
    margin-bottom: 32px;
    margin-left: 16px;
    margin-right: 16px;
    position: relative;
    cursor: pointer;
  }
  .product-star {
    cursor: pointer;
    position: absolute;
    right : 16px;
    top: 16px;
    z-index: 10;
    background-color: transparent;
  }
  .product-img-con {
    position: relative;
    background-color: transparent;
    .product-img {
      border-radius: 12px;
    }
    .product-desc-con {
      display: flex;
      position: absolute;
      bottom : 20px;
      left : 20px;
      height: 18px;
      background-color: transparent;
    }
  }
  .text-con {
    padding-bottom: 13px;
    padding-left: 16px;
    padding-right: 16px;
    background-color: transparent;
    .product-title {
      font-size: 16px;
      font-weight: bold;
      margin-bottom: 2px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .product-desc {
      font-size: 12px;
      color: $border-grey;
      margin-bottom: 4px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .product-price {
      font-size: 18px;
      font-weight: bold;
    }
  }
}


.label-text-con {
  border-radius: 4px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  margin-right: 6px;
  &.free-del {
    background-color: #FF5D39;
  }

  &.best {
    background-color: rgba(0, 0, 0, 0.9);
  }

  .label-text {
    color: #FFFFFF;
    font-size: 10px;
    line-height: 10px;
  }
}

.v-tabs--grow > .v-tabs-bar .v-tab {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);;
}

.swiper-button-next:after, .swiper-container-rtl .swiper-button-prev:after, .swiper-button-prev:after, .swiper-container-rtl .swiper-button-next:after {
  content: none !important;
}

.swiper-button-prev, .swiper-button-next {
  width: 44px;
  outline: none;
}

.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
  text-align: right;
  padding-right: 45px;
  bottom: 30px;
  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    border-radius: 0;
    background: rgba(0, 0, 0, 0.2);
  }
  .swiper-pagination-bullet-active {
    background: rgba(0, 0, 0, 0.6);
  }
}

.pointer {
  cursor: pointer !important;
}

.visual-con {
  position: relative;

  .visual-txt-con {
    z-index: 99;
    position: absolute;
    top:50%;
    left: 95px;
    transform: translate(0, -50%);
    .visual-txt {
      font-weight: bold;
      font-size: 68px;
      line-height: 83px;
    }
    .visual-reg-txt {
      cursor: pointer;
      display: inline-block;
      font-size: 20px;
      line-height: 24px;
      padding-bottom: 2px;
      border-bottom: 2px solid #000000;
    }
  }
}

.sub-con {
	max-width: 1440px;
	margin :0 auto;
	padding-left: 96px;
	padding-right: 96px;
}

.cate-wrap {
  position: absolute;
  bottom: -42px;
  left: 50%;
  z-index: 10;
  transform: translate(-50%);
}

.cate-con {
  display: flex;
  align-items: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.03);
  padding: 30px 100px;
  width:700px;
  justify-content: space-between;

  .cate-item {
    font-size: 20px;
    line-height: 24px;
    color: #000000;
    // margin-right: 94px;
    display:flex;
    cursor: pointer;
    border-bottom:3px solid #fff;
    font-weight:medium;
    &:last-child {
      margin-right: 0;
    }
    &.active {
      font-weight: bold;
    }
    &:hover {
      // transform: scale(1.05);
      // transition: 0.2s;
      border-color:#000;
    }
  }
}


.custom__editor__content {
  &.edit {
    .ProseMirror { 
      border: 1px solid #CFCFCF;
      background-color: #fff;
    }
  }

  .ProseMirror {
    border: none;
    background-color: #F6F6F6;
    box-sizing: border-box;
    border-radius: 20px;
    min-height: 200px;
    padding:20px;
    width: 100%;
    outline: none;
    resize: none;;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    caret-color: #222222;    
    outline: none;
    min-height: 400px;
  }
  .menubar {
    line-height: 10px;;
  }
}


// 모바일
@media (max-width: 769px) {
  .visual-con {
    .v-image__image--contain {
      background-size: cover;
      background-position: bottom !important;
    }
  }
	.sub-con {
		padding-left: 20px;
		padding-right: 20px;
  }
  .visual-con .visual-txt-con {
    left: 50px;
    .visual-txt {
      font-size: 28px;
      line-height: 33px;
    }
  }
  .cate-wrap {
    bottom: -20px;
    .cate-con {
      bottom: 50px;
      padding: 5px 10px;
      .cate-item {
        font-size: 12px;
        line-height: 24px;
        color: #000000;
        margin-right: 20px;
      }
    }
  }

  .swiper-button-prev, .swiper-button-next {
    width: 24px;
  }
  
}