@import '_font';
@import '_colors';
@import '_utils';
@import '_input';
@import '_globalNav';
@import '_signUp';
@import '_home';
@import '_product';
@import '_productDetail';
@import '_about';

html .v-application{
    font-family: 'NotoSansKR', sans-serif;
}

a{
    text-decoration: none;
    color:#333 !important;  
}

.sub-main {
    padding-bottom: 154px;
    margin-bottom: 109px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}