@import '_font';
@import '_colors';
@import '_utils';
@import '_input';
@import '_globalNav';
@import '_signUp';
@import '_home';

html .v-application{
    font-family: 'NotoSansKR', sans-serif;
}

a{
    text-decoration: none;
    color:#333 !important;  
}

