@import '_font';
@import '_colors';
@import '_utils';
@import '_input';
@import '_globalNav';
@import '_signUp';
@import '_home';
@import '_product';
@import '_productDetail';
@import '_about';

html .v-application {
    font-family: 'NotoSansKR', sans-serif;
}

a {
    text-decoration: none;
    color: #333 !important;
}

.sub-main {
    padding-bottom: 154px;
    margin-bottom: 109px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.custom-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 96px;
}

// gnb
.menu-list-item {
    margin-left: 20px;
    font-family: 'Montserrat';
    margin-top: 3px;

    &:hover {
        text-decoration: underline;
    }
}